.gridContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.gridItem {
  display: flex;
  justify-content: center;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .gridContainer {
    padding: 0.5rem;
  }
}

.categoryGrid {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.categoryGrid :global(.MuiGrid-container) {
  margin: -12px;
  justify-content: center;
}

.categoryGrid :global(.MuiGrid-item) {
  padding: 12px;
  display: flex;
  justify-content: center;
}
